@import url('https://fonts.googleapis.com/css?family=Lobster');
.App {
    text-align: center;
}

.App-logo {
    /* animation: App-logo-spin infinite 100ms linear; */
    height: 40vmin;
}

.title {
    font-family: 'Lobster', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Game {
    padding: 1rem;
    background-color: #f1f1f1;
    max-height: calc(100vh - 5rem);
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.character {
    margin: .5rem;
}

.game-button {
    font-weight: bold;
    color: white;
    padding: 1rem;
    border-radius: 999rem;
    margin: 1rem;
    height: 10rem;
    width: 10rem;
    outline: none;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 4;
}

.Game .game-button:nth-child(1) {
    background: #52124D;
    animation-delay: 0.4s;
}

.Game .game-button:nth-child(2) {
    background: #9E8728;
    animation-delay: 0.8s;
}

.Game .game-button:nth-child(3) {
    background: #9E1893;
    animation-delay: 1.2s;
}

.Game .game-button:nth-child(4) {
    background: #089E8F;
    animation-delay: 1.6s;
}

.Game .game-button:nth-child(5) {
    background: #08524A;
    animation-delay: 2.0s;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 200px, 0);
    }
}

.game-controls {
    display: flex;
    justify-content: center;
}
.game-controls > * {
    margin: 0 0.5rem;
}