/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 12rem;
  height: 8rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box.flipped .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 8px 8px 1rem #999;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: transparent;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-box-front img {
   max-height: 100%;
    max-width: 100%;
}

/* Style the back side */
.flip-box-back {
  text-transform: capitalize;
  background-color: #282c34;
  color: #f1f1f1;
  transform: rotateY(180deg);
}

.flip-box.mini {    
  width: 5rem;
  height: 5rem;
}

.flip-box.mini  .flip-box-front, .flip-box.mini .flip-box-back {
  border-radius: 999rem;
  box-shadow:none;
}

.flip-box:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: all 300ms ease-in-out;
  z-index: 100;
}

.flip-box .select {
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
  width: 0px;
  height:0px;
  border-bottom: 3rem solid darkslategray;
  border-left: 3rem solid transparent;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.flip-box .select span {
  font-size: 0.6rem;
  position: absolute;
  transform: rotate(-45deg) translate(-2.7rem, -0.3rem);
  color: white
}

.flip-box:hover .select {
  opacity: 1;
}